html {
    font-family: fantasy;
    background-color: rgb(230, 231, 231);
    text-align: center;
  
}
h2, p {
color: rgb(69, 17, 212);

}
form, input, textarea {
 
    font-family: fantasy;
    text-align: center;
    margin: 1em;
    background-color: aliceblue;
    width: 50%;

}
ol {
    list-style-type: lower-roman;
}
